:root {
      /* colors */
  --primary-50: #e6e6e8;
  --primary-100: #cdced2;
  --primary-200: #b5b5bb;
  --primary-300: #9c9da4;
  --primary-400: #83848e;
  --primary-500: #6a6b77;
  --primary-600: #515360;
  --primary-700: #393a49;
  --primary-800: #202233;
  --primary-900: #07091c;

  --borderRadius: 0.25rem;
  --shadow-1:5px 15px 15px rgba(0,0,0,0.2);
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
    font-family: 'Merriweather', serif;
    color: var(--primary-900);
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin:0;
    padding:0;
}

.btn {
    border-radius: var(--borderRadius) ;
    border: 2px solid var(--primary-900);
    text-transform:capitalize;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-900);
    color: var(--primary-50);
}

.secondary-btn {
    background-color: white;
    color: var(--primary-900);
}

.primary-btn:hover {
    background-color: white;
    color: var(--primary-900);
}

.secondary-btn:hover{
    background-color: var(--primary-900);
    color: var(--primary-50);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-400);
    color: white;
    width: 100px;
    padding:10px 0;
    font-size: 24px;
    border-radius: 0.45rem;
}